PORT=5000
MONGO_URI= ask uri from bright or matthews 
OPENAI_API_KEY=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
JWT_SECRET=replace_with_a_random_string

